<%- include('header'); -%>
    <div class="container ">
        <h1 class="about-heading text-left">ABOUT</h1>
        <p class="text-left about-p">This app was created by Mohammad Saqib Shah. I am a computer science student and a technology enthusiast. This was a fun project to practice my coding skills. If you like the app consider sharing with your friends.</p>
    </div>
<%- include('footer'); -%>