<%- include('header'); -%>

    <h1 class="heading"><%= title %></h1>
    <form action="" method="post">
        <input class="URL-input" name="url" placeholder="Video URL or Playlist URL">
        <button class="convert-button" type="submit" name="submit">Convert</button>    
    </form>

<%- include('footer'); -%>