<%- include('header'); -%>

    
    <form action="" method="post" class="form-signin">
        <h1 class="heading"><%= title %></h1>
        <input class=" form-control my-3" name="url" placeholder="Video URL or Playlist URL">
        <button class="convert-button btn" type="submit" name="submit">Convert</button>    
    </form>
<%- include('footer'); -%>