<%- include('header'); -%>
<div class="out" >
    <div class="in">
    <form method="post" class="form-signin">
        <h1 class="heading"><%= title %></h1>
        <input class=" form-control my-3" name="url" placeholder="Video URL or Playlist URL">
        <button class="convert-button btn" type="submit" name="submit">Convert</button>    
    </form>
    </div>
<%- include('footer'); -%>