<%- include('header'); -%>
    <div class="container ">
        <h1 class="about-heading text-left">404</h1>
        <p class="text-left about-p">You have either entered an invalid URL or the page you are trying to access is not found</p> 
    </div>
<%- include('footer'); -%>